@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header{ 
  background-color: rgba(0,0,0,0.5); 
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
}

header .wrapper{
  width: 71%;
  padding: 16px 0 18px 0;
}

.pre-nav{ 
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.language{
  font-size: 11px;
  display: flex;
}

.language a { color: #fdfdfd; }
.search-box input:focus{ outline: none; }

.search-box {
  background-color: #6d6e72; 
  font-size: 10px;
  width: 53%;
}

.search-box input{
  background-color: transparent;
  border: none;
  width: 85%;
  font-size: 11px;
  padding: 2px 5%;
  color: #fdfdfd;
  height: auto;
}

.search-btn{
  color: #fdfdfd;
  font-size: 11px;
  text-indent: -999999999px;
  position: relative;
  float: right;
}

.search-btn::after{
  content: "\f002";
  font-family: FontAwesome;
  position: absolute;
  right: 5px;
  top: 2px;
  text-indent: 0;
}

.language li:first-of-type::after{
  content: "|";
  margin: 0 3px;
  color: #fdfdfd;
}

h1{ transform: translateX(-4px); }
.social-list{ font-size: 18px; }

.social-list li{
  position: relative;
  z-index: 1;
}

.social-list li:first-of-type{ transform: translate(47%, -1px); }

nav{ width: 60%; }

.language{  
  position: absolute;
  top: 5px;
  right: 22%;
}

.nav-block{
  display: flex;
  justify-content: space-between;
}

.nav-list{ 
  padding: 10px 0 0 0;
  display: flex;
  justify-content: flex-end;
}

.nav-list li{ 
  padding: 0 0 0 2.6%;
  position: relative;
}

.nav-block a{
  color: #fdfdfd;
  text-transform: uppercase;
  font-size: 13px;
}

.nav-list li::after{
  position: absolute;
  left: 5px;
  content: "|";
  color: #fdfdfd;
}

.nav-list li:nth-child(1)::after,
.nav-list li:nth-child(2)::after{ content: none; }

.home-icon{
  position: relative;
  text-indent: -9999999999px;
}

.home-icon::after{
  position: absolute;
  left: -21px;
  top: -2px;
  font-size: 18px;
  text-indent: 0;
  content: "\f015";
  font-family: FontAwesome;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.slider-container{
  background-color: black;
  padding: 9px 0 0 0;
}

.slider-container .wrapper{
  width: 100%;
  position: relative;
}

.slider{ 
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-wrap: nowrap;
}

.slide{ display: none; }
.slide:first-of-type{ display: block; }

.slider-dots{
  position: absolute;
  margin: 0 0 0 50%;
  transform: translateX(-50%);
  bottom: 5.1%;
}

.slider-dot{
  display: inline-block;
  position: relative;
  font-size: 12.5px;
  margin: 0 10px 0 3px;
  color: #fdfdfd;
  text-indent: -9999999999px;
}

.slider-dot::after{
  text-indent: 0;
  position: absolute;
  font-family: "FontAwesome";
  content: "\f10c";
  color: #fdfdfd;
  z-index: 2;
  left: 0;
}

.slider-dot:hover::after,
.active-dot::after{ content: "\f111"; }

.slider-controls{
  position: absolute;
  margin: 0 0 0 50%;
  top: 40%;
  transform: translate(-50%, 0);
  width: 70%;
}

.slider-controls a{
  position: absolute;
  left: 50%;
  color: #fdfdfd;
  text-indent: -999999999999px;
  font-size: 87px;
}

.slider-controls a::after{
  top: 74%;
  text-indent: 0;
  transform: translateY(-50%);
  position: absolute;
  font-family: FontAwesome;
}

.next-btn::after{ 
  content: "\f105";
  left: 42.4vw;
}

.privious-btn::after{ 
  content: "\f104"; 
  right: 42.2vw;
}



/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  